@model AccountVM
@{
    ViewData["Title"] = "ForgetPassword";
}

<div class="container">
    <div class="row">
        <h2>Forgot password</h2>
        <form method="post">
            <label asp-for="AppUser.Email"></label>
            <input asp-for="AppUser.Email" class="form-control" />
            <button type="submit" class="btn btn-outline-primary mt-3">Send</button>
        </form>
    </div>
</div>

